{# /Acme/EmberBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {% stylesheets '@AcmeEmberBundle/Resources/public/dist/assets/vendor.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets '@AcmeEmberBundle/Resources/public/dist/assets/application.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets '@AcmeEmberBundle/Resources/public/dist/assets/test-support.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>
<body>

    <div id="app"></div>

    {% javascripts '@AcmeEmberBundle/Resources/public/dist/assets/vendor.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@AcmeEmberBundle/Resources/public/dist/assets/application.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</body>
</html>
