{# /Acme/EmberBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% stylesheets '@AcmeEmberBundle/Resources/public/dist/assets/vendor.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% stylesheets '@AcmeEmberBundle/Resources/public/dist/assets/application.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% stylesheets '@AcmeEmberBundle/Resources/public/dist/assets/test-support.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

</head>
<body>

    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <div id="ember-testing-container">
        <div id="ember-testing"></div>
    </div>

    {% javascripts '@AcmeEmberBundle/Resources/public/dist/assets/vendor.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@AcmeEmberBundle/Resources/public/dist/assets/test-support.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@AcmeEmberBundle/Resources/public/dist/assets/application.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@AcmeEmberBundle/Resources/public/dist/testem.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@AcmeEmberBundle/Resources/public/dist/assets/tests.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@AcmeEmberBundle/Resources/public/dist/assets/test-loader.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>Ember.assert('The tests file was not loaded. Make sure your tests index.html includes "assets/tests.js".', EmberENV.TESTS_FILE_LOADED);</script>

</body>
</html>
